{% extends "accounts/base.html" %}


{% block content %}
<h1> Formulário para criação de um novo grupo</h1>


<form method="post">
    {% csrf_token %}
    <div class="container">
        <div class="row">
            <div class="col">
                {{group_form.media}}
                {{group_form.as_table}}
                <script type="text/javascript" src="{% url 'jsi18n' %}"></script>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <button type="submit" class="btn btn-primary">Cadastrar</button>
                <a href="{% url 'group-index' %}" class="btn btn-secondary">Voltar</a>
            </div>

        </div>
    </div>
    
</form>

{% endblock %}